body{
    background: url(../image/bg-repeat.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-master{
    display: flex;
    max-width: 840px;
    gap: 50px;
    padding: 0 50px;
}
.container-master .container-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 11px;
    width: 35.7vw;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.container-master .container-text .tittle{
    width: 100%;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
}
.container-master .container-text .text{
    width: 100%;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}


.container-master .container-chat{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    width: 340px;
    font-family: 'Roboto', sans-serif;
    margin: 12px 0;
}
.container-master .container-chat .form{
    display: flex;
    flex-direction: column;
    /* row-gap: 15px; */
    margin-top: 20px;
    width: 100%;
}
.container-master .container-chat .field{
    display: flex;
    flex-direction: column;
    height: 35px;
    margin: 15px 20px 0;
    padding: 8px 0 8px 10px;
    max-width: 298px;
    border-radius: 10px;
    border: 1px solid black;
}
.container-master .container-chat .field-textarea{
    height: 100px;
}
.container-master .container-chat .required,
.container-master .container-chat .valid{
    display: inline;
    font-size: 8px;
    font-weight: 400;
    opacity: 0;
    margin: 0 20px;
    color:#F52E2E;
}
.container-master .container-chat .required{
    opacity: 1;
}

.container-master .container-chat .required-field{
    border: 1px solid #F52E2E;
}


.container-master .container-chat .filled-field{
    border: 1px solid #00C22B;
}

.container-master .container-chat .note{
    margin-left: 15px;
    font-weight: 400;
    font-size: 15px;
}
.btn{
    max-width: 298px;
    min-height: 41px;
    margin: 20px;
    color: #fff;
    background-color: #3CCC87;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}